<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAUwuqNgUAXb_OOc0HVNeTN4ZVGP4942N8</string>
	<key>GCM_SENDER_ID</key>
	<string>945220721469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gvn.bindi</string>
	<key>PROJECT_ID</key>
	<string>bindi-9db7a</string>
	<key>STORAGE_BUCKET</key>
	<string>bindi-9db7a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945220721469:ios:f4949a0696cdd3bb0d8354</string>
</dict>
</plist>